<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<aside>
    <div class="sidebar border-end">
        <ul>
            <li class="py-3 menu_head">MAIN</li>
            <li class="cursor active"><span class="pe-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        stroke="#0363e8" class="bi bi-columns-gap" viewBox="0 0 16 16">
                        <path
                            d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z" />
                    </svg></span>Index</li>
            <li class="py-3 menu_head">GENERAL</li>
            <li class="pb-3 cursor"><i class="bi bi-emoji-smile-fill pe-3"></i>Icons</li>
            <li class="pb-3 cursor"><i class="bi bi-bar-chart-line-fill pe-3"></i>Charts</li>
            <li class="py-3 menu_head">WEB APPS</li>
            <li class="pb-3 cursor"><i class="bi bi-highlights pe-3"></i>Apps</li>
            <li class="pb-3 cursor"><i class="bi bi-layers-fill pe-3"></i>Elements</li>
            <li class="pb-3 cursor"><i class="bi bi-palette-fill pe-3"></i>Advanced UI</li>
            <li class="py-3 menu_head">MULTI LEVELS</li>
            <li class="pb-3 cursor"><i class="bi bi-hdd-rack-fill pe-3"></i>Menu-levels</li>
            <li class="py-3 menu_head">COMPONENTS</li>
            <li class="pb-3 cursor"><i class="bi bi-file-earmark-text-fill pe-3"></i>Forms</li>
            <li class="pb-3 cursor"><i class="bi bi-table pe-3"></i>Tables</li>
            <li class="pb-3 cursor"><i class='bx bxs-bolt-circle pe-3 landing_page_icon'></i>Landing Page</li>
            <li class="pb-3 cursor"><i class="bi bi-geo-alt-fill pe-3"></i>Maps</li>
            <li class="py-3 menu_head">PAGES</li>
            <li class="pb-3 cursor"><i class="bi bi-book-half pe-3"></i>Pages</li>
            <li class="pb-3 cursor"><i class="bi bi-browser-chrome pe-3"></i>Utilities
            </li>
        </ul>
    </div>
</aside>