<aside>
    <div class="sidebar border-end">
        <ul>
            <li class="py-3">Main</li>
            <ul>
                <li class="pb-3">Icons</li>
                <li class="pb-3">Charts</li>
            </ul>

            <li class="py-3">WEB APPS</li>
            <ul>
                <li class="pb-3">Apps</li>
                <li class="pb-3">Elements</li>
                <li class="pb-3">Advanced UI</li>
            </ul>
            <li class="py-3">MULTI LEVELS</li>
            <ul>
                <li class="pb-3">Menu-levels</li>
            </ul>
            <li class="py-3">COMPONENTS</li>
            <ul>
                <li class="pb-3">Forms</li>
                <li class="pb-3">Tables</li>
                <li class="pb-3">Landing Page</li>
                <li class="pb-3">Maps</li>
            </ul>
            <li class="py-3">PAGES</li>
            <ul>
                <li class="pb-3">Pages</li>
                <li class="pb-3">Utilities</li>
            </ul>
        </ul>
    </div>
</aside>